{% load static from staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <title>Banter - A 4Chan reader</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script data-main="static/js/src/main" src="{% static 'js/libs/require/require.min.js' %}"></script>
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Banter</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Dropdown <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" id="nav"></ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid" id="content"></div>
</body>
</html>